*{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 13px;

}

body{
  background-color: rgb(180, 180, 180);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
  border: 1px solid #8b8b8b;
  
}

h1{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-family: "roboto"sans-serif;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  margin: 1px;
  background: #008080;
  text-align: left;
  border: 1px solid #8b8b8b;
  box-shadow: 2px 2px 3px 2px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #020202;
  background: #008080
  ;
  border-radius: 5px;
  border: 1px solid #999999;
  box-shadow: 2px 2px 3px 2px;
  margin: 20px;
}

.row{
  margin: 10px;
}

.container .row .button{
  padding: 1px;
  margin: 4px;
  background-color: rgb(248, 248, 248);;
  border: solid 1px rgb(109, 109, 109);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 3px 1px;

}

.container .row input{
  margin: 10px;
  padding: 20px;
  border: solid 1px rgb(86, 80, 80);
  border-radius: 12px;
  width: 187px;
  background-color: rgb(255, 255, 255);;
  box-shadow: 1px 1px 1px 1px;
}